# ==============================
# Python
# ==============================
__pycache__/
*.py[codz]
*$py.class

# Virtual environment
venv/
.env/
.conda/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Large datasets
# ==============================
dataset/
data/
# dataset_analysis_results/
# results/
# cache/

# ==============================
# Model weights
# ==============================
# *.pt
# *.pth
*.ckpt
*.onnx
*.h5

# ==============================
# Compressed files
# ==============================
*.zip
*.rar
*.7z
*.tar
*.gz

# ==============================
# Logs
# ==============================
*.log
*.tmp